<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saludapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/coomeva"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
          
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.saludapp.MenuPrincipal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.MenuFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.ExpandableListAdapter"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.BodyFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.BodyActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.saludapp.gestion.GestionPrincipal"
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name="com.example.saludapp.gestion.GBodyFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.gestion.GMenuFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.gestion.GBodyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.agenda.Agenda"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.saludapp.informacion.PBodyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.informacion.PlanesPrincipal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.informacion.PMenuFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.informacion.PBodyFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.saludapp.informacion.QuinesSomos"
            android:label="@string/app_name" >
        </activity>
         
    </application>

</manifest>
